In [6]:
# ANS 1 :
import pandas as pd
list1 = [4,8,15,16,23,42]
df = pd.Series(list1)
(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# ANS 2 :
list2 = pd.Series([10,20,30,40,50,60,70,80,90,100])
list2

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [7]:
# ANS 3 :
data = {"NAME":['ALICE','BOB','CLAIRE'], "AGE":[25,30,27], "GENDER":['FEMALE','MALE','FEMALE']}
df2 = pd.DataFrame(data)
df2

     NAME  AGE  GENDER
0   ALICE   25  FEMALE
1     BOB   30    MALE
2  CLAIRE   27  FEMALE

In [15]:
# ANS 4 :

''' 
    DATAFRAME IS A 2-DIMENTIONAL DATA STRUCTURE REPRESENTED IN TABULAR FORM LIKE RELATIONAL DATABASE 
    TABLES, 2 ATTRIBUTES ROWS AND COLUMNS.
    
    SERIES IS A 1-DIMENTIONAL DATA STRUCTURE REPRESENTED IN THE FORM OF A LIST BUT THE ONLY DIFFERENCE
    IS THAT A SERIES HAS INDEX BY DEFAULT FROM 0.
    
'''

#SERIES
import pandas as pd
list1 = [40,80,150,160,230,420]
DF = pd.Series(list1)
(DF)

print("\n\n")

#DATAFRAME
data = {"NAME":['ALICE','BOB','CLAIRE'], "AGE":[25,30,27], "GENDER":['FEMALE','MALE','FEMALE']}
df2 = pd.DataFrame(data)
df2

     NAME  AGE  GENDER
0   ALICE   25  FEMALE
1     BOB   30    MALE
2  CLAIRE   27  FEMALE

In [18]:
# ANS 5 :

#DATAFRAME
data = {"NAME":['ALICE','BOB','CLAIRE'], "AGE":[25,30,27], "GENDER":['FEMALE','MALE','FEMALE']}
df2 = pd.DataFrame(data)
df2
print("\n")

df2.head(2)
print("\n")
df2.tail(2)
print("\n")
df2[['NAME','GENDER']]

     NAME  GENDER
0   ALICE  FEMALE
1     BOB    MALE
2  CLAIRE  FEMALE

In [ ]:
# ANS 6 : 

'''  
     SERIES IS THE ONLY DATA STRCUTURE IN PANDAS WHICH IS IMMUTABLE.
     DATAFRAME AND DATA STRCUTURES LIKE DATAFRAME ARE MUTABLE.
'''

In [30]:
# ANS 7 :

a = pd.Series([[1,2,3,5,4,5,3,5,3,5], [5,5,3,5,4,5,6,3,3,5], [5,3,5,5,5,5,7,8,5,3]])
b = pd.DataFrame(a)
b

                                0
0  [1, 2, 3, 5, 4, 5, 3, 5, 3, 5]
1  [5, 5, 3, 5, 4, 5, 6, 3, 3, 5]
2  [5, 3, 5, 5, 5, 5, 7, 8, 5, 3]